.container {
  max-width: 100vw;
  overflow: auto;
  height: 100vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;

  th,
  td {
    border: 1px solid #ccc;
    vertical-align: middle;
  }

  th {
    text-align: center;
    font-size: small;
    font-weight: normal;
    padding: 0 10px;
    background-color: #ededed;

    &:first-child {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 2;
    }

    position: sticky;
    top: 0;
    z-index: 1;
  }

  td {
    height: 24px;
  }

  tbody th {
    position: sticky;
    left: 0;
  }
}
