.input {
  &:focus {
    border: 1px solid #0b57d0;
  }
  background-color: 000;
  display: block;
  width: 100%;
  height: 100%;
  font-size: small;
  padding: 0px 4px;
}

.base {
  font-size: small;
  font-weight: 500;
  width: 100px;
  height: 100%;
}

.label {
  white-space: nowrap;
  overflow: hidden;
}

.highlight {
  background-color: #d3e3fd !important;
}
